{% block grid %}
{% spaceless %}
    <table{{ attributes|raw }}>
        {{ head ? datagrid(head, options) : '' }}
        {{ body ? datagrid(body, options) : '' }}
        {{ foot ? datagrid(foot, options) : '' }}
    </table>
{% endspaceless %}
{% endblock grid %}

{% block headSection %}
{% spaceless %}
    <thead{{ attributes|raw }}>
        {{ block('rows') }}
    </thead>
{% endspaceless %}
{% endblock headSection %}

{% block bodySection %}
{% spaceless %}
    <tbody{{ attributes|raw }}>
        {{ block('rows') }}
    </tbody>
{% endspaceless %}
{% endblock bodySection %}

{% block footSection %}
{% spaceless %}
    <tfoot{{ attributes|raw }}>
        {{ block('rows') }}
    </tfoot>
{% endspaceless %}
{% endblock footSection %}

{% block rows %}
{% spaceless %}
    {% for row in rows %}
        {{ datagrid(row, options) }}
    {% endfor %}
{% endspaceless %}
{% endblock rows %}

{% block row %}
{% spaceless %}
    <tr{{ attributes|raw }}>
        {% for cell in cells %}
            {{ datagrid(cell, options) }}
        {% endfor %}
    </tr>
{% endspaceless %}
{% endblock row %}

{% block emptyCell %}
{% spaceless %}
    <td{{ attributes|raw }}></td>
{% endspaceless %}
{% endblock emptyCell %}

{% block dataCell %}
{% spaceless %}
    <td{{ attributes|raw }}>{{ datagrid(data, options) }}</td>
{% endspaceless %}
{% endblock dataCell %}

{% block labelCell %}
{% spaceless %}
    <th{{ attributes|raw }}>{{ datagrid(label, options) }}</th>
{% endspaceless %}
{% endblock labelCell %}

{% block collectionCell %}
{% spaceless %}
    <td{{ attributes|raw }}>{{ datagrid(collection, options) }}</td>
{% endspaceless %}
{% endblock collectionCell %}

{% block data %}
{% spaceless %}
    {{ value }}
{% endspaceless %}
{% endblock data %}

{% block label %}
{% spaceless %}
    {{ text }}
{% endspaceless %}
{% endblock label %}

{% block url %}
{% spaceless %}
    {{ url }}
{% endspaceless %}
{% endblock url %}

{% block link %}
{% spaceless %}
    <a{{ attributes|raw }} href="{{ datagrid(url) }}">{{ datagrid(label, options) }}</a>
{% endspaceless %}
{% endblock link %}

{% block collection %}
{% spaceless %}
    <ul>
        {% for item in collection %}
            <li>{{ datagrid(item, options) }}</li>
        {% endfor %}
    </ul>
{% endspaceless %}
{% endblock collection %}
