{% block grid %}
{% spaceless %}
    <table{{ attributes|raw }}>
        {{ head ? datagrid(head, options) : '' }}
        {{ body ? datagrid(body, options) : '' }}
        {{ foot ? datagrid(foot, options) : '' }}
    </table>
{% endspaceless %}
{% endblock grid %}

{% block headSection %}
{% spaceless %}
    <thead{{ attributes|raw }}>
        {{ block('rows') }}
    </thead>
{% endspaceless %}
{% endblock headSection %}

{% block bodySection %}
{% spaceless %}
    <tbody{{ attributes|raw }}>
        {{ block('rows') }}
    </tbody>
{% endspaceless %}
{% endblock bodySection %}

{% block footSection %}
{% spaceless %}
    <tfoot{{ attributes|raw }}>
        {{ block('rows') }}
    </tfoot>
{% endspaceless %}
{% endblock footSection %}

{% block rows %}
{% spaceless %}
    {% for row in rows %}
        {{ datagrid(row, options) }}
    {% endfor %}
{% endspaceless %}
{% endblock rows %}

{% block row %}
{% spaceless %}
    <tr{{ attributes|raw }}>
        {% for cell in cells %}
            {{ datagrid(cell, options) }}
        {% endfor %}
    </tr>
{% endspaceless %}
{% endblock row %}

{% block cell %}
{% spaceless %}
    {% if heading %}
        <th{{ attributes|raw }}>{{ content }}</th>
    {% else %}
        <td{{ attributes|raw }}>{{ content }}</td>
    {% endif %}
{% endspaceless %}
{% endblock cell %}
